/* navbar */
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}
.custom-navbar .nav-link {
  color: #9b7bb7;
  font-size: 14px;
  font-weight: 500;
}

.custom-navbar .nav-link:hover {
  color: #7d5c9d;
}

.brand-logo {
  font-size: 32px;
  font-weight: 700;
  color: #5e4780 !important;
}
/* World background */
.world-background{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #a78bc2 60%,  
    #ffffff 40%  
  );
}
.globe {
  width: 550px;
}
/* categories */
.category-card {
  background-color: #d8c4e5 !important;
  border: none !important;
  border-radius: 0 !important;
  min-height: 230px;
  padding: 10px;
}

.category-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.category-card .card-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.category-card .card-text {
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
}

.category-btn {
  border: 1px solid #9b7bb7 !important;
  color: #9b7bb7 !important;
  background-color: transparent !important;
  border-radius: 60px;
  padding: 6px 18px;
  font-size: 13px;
}

.category-btn:hover {
  background-color: #9b7bb7 !important;
  color: white !important;
}


/* generate random facts */
.facts-section {
  margin-top: 40px;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.facts-card {
  background-color: #c8abd9;
  border-radius: 30px;
  padding: 20px 30px;
  border: none;
}

.funfacts-img {
  width: 250px;
  max-width: 100%;
}

.facts-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 160px;
}

.facts-text {
  font-size: 20px;
  font-weight: 400;
  color: #3f3152;
  margin-bottom: 95px;
}

.facts-btn {
  border: 1px solid #6f5889 !important;
  color: #6f5889 !important;
  background-color: transparent !important;
  border-radius: 20px;
  padding: 5px 22px;
  font-size: 0.9rem;

}

.facts-btn:hover {
  background-color: #6f5889 !important;
  color: white !important;
}
